<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedir" href="/tabs/pedir">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas" href="/tabs/ofertas">
      <ion-icon aria-hidden="true" name="pricetag-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-cuenta" href="/tabs/mi-cuenta">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
