<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding" *ngIf="usuario$ | async as u">
    <h2 style="margin:0 0 4px">Hola, {{ u.nombre }}</h2>
    <p style="margin:0;color:#666">{{ u.email }}</p>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="cerrarSesion()">
      Cerrar sesion (temporal)
    </ion-button>
  </div>

  <div class="ion-padding ion-text-center">
    <p style="color:#888">Proximamente: bebidas, pizzas, pastas, grill, descuentos...</p>
  </div>
</ion-content>
